<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>onlinebanking1.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBconnection</display-name>
    <servlet-name>DBconnection</servlet-name>
    <servlet-class>jdbcConnection.DBconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBconnection</servlet-name>
    <url-pattern>/DBconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginin</display-name>
    <servlet-name>Loginin</servlet-name>
    <servlet-class>controller.Loginin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginin</servlet-name>
    <url-pattern>/Loginin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateINF</display-name>
    <servlet-name>UpdateINF</servlet-name>
    <servlet-class>controller.UpdateINF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateINF</servlet-name>
    <url-pattern>/UpdateINF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcctServlet</display-name>
    <servlet-name>AcctServlet</servlet-name>
    <servlet-class>controller.AcctServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcctServlet</servlet-name>
    <url-pattern>/AcctServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BTimeDeposit</display-name>
    <servlet-name>BTimeDeposit</servlet-name>
    <servlet-class>controller.BTimeDeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BTimeDeposit</servlet-name>
    <url-pattern>/BTimeDeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalTimeDeposit</display-name>
    <servlet-name>CalTimeDeposit</servlet-name>
    <servlet-class>controller.CalTimeDeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalTimeDeposit</servlet-name>
    <url-pattern>/CalTimeDeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SFacctServlet</display-name>
    <servlet-name>SFacctServlet</servlet-name>
    <servlet-class>controller.SFacctServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFacctServlet</servlet-name>
    <url-pattern>/SFacctServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SFTServlet</display-name>
    <servlet-name>SFTServlet</servlet-name>
    <servlet-class>controller.SFTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFTServlet</servlet-name>
    <url-pattern>/SFTServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TSFServlet</display-name>
    <servlet-name>TSFServlet</servlet-name>
    <servlet-class>controller.TSFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TSFServlet</servlet-name>
    <url-pattern>/TSFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TDinterrupt</display-name>
    <servlet-name>TDinterrupt</servlet-name>
    <servlet-class>controller.TDinterrupt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TDinterrupt</servlet-name>
    <url-pattern>/TDinterrupt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TFServlet</display-name>
    <servlet-name>TFServlet</servlet-name>
    <servlet-class>controller.TFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TFServlet</servlet-name>
    <url-pattern>/TFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SFServlet</display-name>
    <servlet-name>SFServlet</servlet-name>
    <servlet-class>controller.SFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFServlet</servlet-name>
    <url-pattern>/SFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>controller.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verifyfy</display-name>
    <servlet-name>verifyfy</servlet-name>
    <servlet-class>controller.verifyfy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyfy</servlet-name>
    <url-pattern>/verifyfy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBalance</display-name>
    <servlet-name>ShowBalance</servlet-name>
    <servlet-class>controller.ShowBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBalance</servlet-name>
    <url-pattern>/ShowBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>historyServlet</display-name>
    <servlet-name>historyServlet</servlet-name>
    <servlet-class>controller.historyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>historyServlet</servlet-name>
    <url-pattern>/historyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>historySevlet</display-name>
    <servlet-name>historySevlet</servlet-name>
    <servlet-class>controller.historySevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>historySevlet</servlet-name>
    <url-pattern>/historySevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadMemo</display-name>
    <servlet-name>DownloadMemo</servlet-name>
    <servlet-class>controller.DownloadMemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMemo</servlet-name>
    <url-pattern>/DownloadMemo</url-pattern>
  </servlet-mapping>
</web-app>